$color_green: #5cbd6d;
$color_grey: #a2a2a2;
$color_medium_grey: #888888;
$color_light_grey: #fdfdfd;
$color_white: #ffffff;
$color_black: #000000;
$border_color: #eeeeee;
$text_color: #505050;
$color_blue:  #039be5;
