@import 'constants/colors.scss';

.container {
  background: $color_white;
  height: 550px;
  width: 100%;
  position: absolute;
  bottom: -550px;
  transition: 0.5s;
  z-index: 100;
  padding: 20px 25px;

  &.active {
    bottom: 0px;
  }

  h2 {
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 20px;
    position: relative;

    .closeBtn {
      position: absolute;
      font-size: 25px;
      right: -12px;
      cursor: pointer;
    }
  }

  p {
    color: $text_color;

    a {
      color: $color_blue;
  
      &:hover {
        color: $color_blue;
      }
    }
  }
}