@import 'constants/colors.scss';

.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 20px;

  h4 {
    text-align: center;
    margin-bottom: 20px;
  }

  .table {
    tr {
      display: grid;
      grid-template-columns: 100px 180px 220px 80px;

      th {
        color: $color_medium_black;
        font-size: 14px;
        padding: 7px 0 7px 20px;
        font-weight: 500;
      }

      td {
        font-size: 14px;
        color: $color_medium_black;
        padding: 7px 0 7px 20px;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        align-items: center;
        position: relative;

        span {
          margin-left: 5px;
          margin-top: 1px;
          position: absolute;
        }

        a {
          color: $color_green;
        }
      }
    }

    tbody tr:nth-of-type(odd) {
      background-color: $border_color;
    }
  }
}